.container{
    height:70vh;
    width: 140vh;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ece9e9; /* Set background color */
    box-shadow: 0 14px 12px rgba(0.3, 0.1, 0.1, 0.3); /* Add box shadow */
    padding-top: 20px;
}
/* LoginForm.css */

/* LoginForm.css */

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button {
    width: 80%;
    padding: 12px;
    background-color: #4677aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

  }
  .link {
    width: 80%;
    padding: 12px;
    background-color: #4677aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

  }
  
  button:hover {
    background-color: #0056b3;
  }
  